<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>moonbank #1</title>
    <link href='/assets/stylesheets/main.css' rel='stylesheet' type='text/css'/>
  </head>

  <body class="container">
  <header> 
    <div class="header-depth">
      <h1><%= @title %></h1>
      <h2><%= @subtitle %></h2>
    </div>
  </header>
  <div class='imprint'>
        <nav>
          <u>banking options</u>
	  </br>
          <% Options.each do |id, link| %>
              <a href=<%= link %>><span class='moon-hover'>&#9789</span><%= id %></a>
	      </br>
          <% end %>
        </nav>
        <div class="forms">
	  <% if @action == 'statement' %>
	    <div class='fyi-statement'>
	    <p>statement for <%= Session[:members][Session[:member_id]] %> account number <%= @bank.get_member(Session[:member_id]).get_account(Session[:account_id]).account_number %></p> 
	  <% else %>
	    <div class='fyi'>
	      <% if @status_message %>
	      <p><%= @status_message %></p>
	      <% end %>
	      </br>
	      <% if Session[:members] != [] %>
	      <p>viewing as <%= Session[:members][Session[:member_id]] %></p>
	      <% end %>
	      </br>
	      <% if @bank.get_member(Session[:member_id]) && @bank.get_member(Session[:member_id]).get_account(Session[:account_id]) %>
	      <p>account number <%= @bank.get_member(Session[:member_id]).get_account(Session[:account_id]).account_number %></p>
	      <% end %>
	    </br>
	  <% end %>
	    	  </div>
	  <% if @action != 'statement' %>
	    <div class='content'>
	  <% else %>
	    <div>
	  <% end %>

	  <p class='error-message'><%= @error_message %></p>
	    <%= yield %>
	  </div>
      </div>
 
  </body>

</html>
